body {
  margin: 0;
  padding: 0;
  overflow: hidden;

}

p {
  font-size: 10px;
  line-height: 8px;
  font-weight: 900;
  margin: 0;
  background: url("../images/tumblr_nptm6toUmf1rvfm5no1_500.gif") no-repeat;
  background-size: contain;
  background-position: top;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}