// colors
$colorAnchor: #3498DB;
$colorDate: #A7B8BF;
$colorMain: #509e98;
$colorBorder: #80807b;
$colorText: #fff;

// FONTY
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');
$fontText: 'Raleway', sans-serif;
$fontSize: 16px;
$lineHeight: 1.8em;


