// colors
$colorNav: #5B605F;
$colorHeader: #4a4a49;
$colorBtn: #FF6600;
$backgroundColor: #FFFFFA;
$colorInfo: #3498DB;
$colorWarning: #FFB03B;
$colorSuccess: #468966;
$colorBin: #BD4932;
$colorText: #A1A194;

// FONTY
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');
$fontText: 'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Charmonman:400,700&display=swap&subset=latin-ext');
$fontLogo: 'Charmonman', cursive;
$fontSize: 16px;
$lineHeight: 1.8em;


