@media screen and (max-width: 1300px) {
  main {
    section {
      .projects {

        .project {

          .video {
            flex: 0 0 400px;
          }

          .technologies {
            flex: 0 0 22%;

            div {


              i {

              }

              a {

              }
            }


          }
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  main {
    section {

      .projectsTitle {
        text-align: center;
      }

      .projects {
        flex-direction: column;
        .project {
          justify-content: center;

          .video {
            flex: 0 0 500px;
          }

          .technologies {
            flex: 0 0 12%;
            div {


              i {

              }

              a {

              }
            }


          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  main {
    section {
      .projects {
        .project {
          &:first-of-type {
          }
          .video {
            flex: 0 0 400px;
          }

          .technologies {
            flex: 0 0 25%;
            div {


              i {

              }

              a {

              }
            }


          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  main {
    section {
      .projects {
        padding-bottom: 0;

        .project {
          flex-direction: column-reverse;
          align-items: center;
          margin-top: 0;

          &:first-of-type {
            margin-top: 2em;
          }
          .video {
            width: 95%;
            max-height: 300px;
          }

          .technologies {
            width: 95%;
            flex-direction: row;
            padding-top: 5px;
            div {
              width: auto;
              height: 25%;
              i {

              }

              a {

              }
            }


          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  main {
    section {
      .projects {
        .project {

          &:first-of-type {
          }
          .video {
            max-height: 250px;
          }

          .technologies {

            div {
              width: auto;
              &:last-of-type {
                padding-left: 5px;
              }

              i {

              }

              a {

              }
            }


          }
        }
      }
    }
  }
}